.speech {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 1rem;
  color: #000000;
}

.direction {
  background-color: #f4f4f5;
}

.direction:hover {
  background-color: #cacaff;
  color: #0a0a0a;
}

.billing {
  color: #c2df08;
}

.stockmann {
  color: #046207;
}

.hovstad {
  color: #1414d1;
}

.aslaksen {
  color: #6b21a8;
}

.speech {
  font-family: "Georgia", "Times New Roman", serif;
}